*{
    margin: 0;
    padding: 0;
    font-family: "Itim", cursive;
}

/* รูปภาพ */
.crousel-item{
    height: 500;
}

.carosel-image-1{
    background-image: url(img/postit-3406962_960_720.jpg);
    background-size: cover;
}

.carosel-image-2{
    background-image: url(img/fitter-5011189_1280.jpg);
    background-size: cover;
}

.carosel-image-3{
    background-image: url(img/laptop-2620118_1280.jpg);
    background-size: cover;
}

.footer{
    text-align: center;
    color: aliceblue;
}